<section class="hero-section inner-page">
  <div class="hero-text">
    <h2>Become A Sponsor</h2>
  </div>
</section>
<section class="sub-section">
  <form action="https://www.getdrip.com/forms/30788579/submissions" method="post" data-drip-embedded-form="30788579">
    <div data-drip-attribute="description"></div>
    <div class="form-group custom-form">
      <input type="text" name="fields[first_name]" class="form-control mb-3" placeholder="First name" required="required">
      <input type="email" name="fields[email]" class="form-control mb-3" placeholder="Email" required="required" />
    </div>

    <div>
      <input class="btn btn-primary btn-xl text-uppercase m-3" type="submit" name="submit" value="Let's Connect" data-drip-attribute="sign-up-button" id="sponsor-button" target="/">
    </div>

  </form>
</section>