@import url("../../styles.less");

.faq-container{margin-top: 40px;
    /deep/ p-tabview{
        .ui-tabview{margin-top: 40px;
            &.ui-tabview-left{
                .ui-tabview-nav{position: sticky; top: 95px; z-index: 100; background: @teal; border-radius: 9px; height: auto; padding: 20px; box-shadow: 0 15px 35px 0 rgba(3,3,10,.22),0 5px 15px rgba(0,0,0,.56) !important;
                    li{background: transparent !important; border: 0px !important; margin-bottom: 12px;
                        &.ui-state-active{background: @darker-grey !important; border: 0px !important; border-radius: 24px;
                            a{color: @teal !important; .inter(700);}
                        }
                        &:focus{outline: none;}
                        a{display: flex !important; flex-direction: row; justify-content: flex-start; align-items: center; width: 100%; color: @darker-grey !important; .inter(700);}
                    }
                }
                .ui-tabview-panels{background: transparent; border: 0px !important; padding-top: 0px !important;}
            }
        }
    }
    /deep/ p-accordion{
        /deep/ p-accordionTab{
            .ui-accordion-header{margin-bottom: 8px;
                a{background: linear-gradient(to right, #1b1b24, #0a0a15); color: @teal; .inter(700); border: none; border-radius: 5px; padding: 20px 12px; transition: .25s ease-in-out;
                    &:focus{outline: none;}
                }
                &:hover{
                    a{background-color: @darkest-grey !important; color: @teal !important; border-color: @teal !important; border: none !important; border-top: 2px solid @teal !important; border-bottom-left-radius: 0px; border-bottom-right-radius: 0px; cursor: pointer;}
                }
                &.ui-state-active{margin-bottom: 0;
                    a{background-color: @darkest-grey !important; color: @teal !important; border-color: @teal !important; border: none !important; border-top: 2px solid @teal !important; border-left: 2px solid @teal !important; border-right: 2px solid @teal !important; border-bottom-left-radius: 0px; border-bottom-right-radius: 0px;}
                }
            }
            .ui-accordion-content-wrapper{
                .ui-accordion-content{background: @white-blue; color: @darkest-grey; .inter(500); font-size: 16px; line-height: 1.4; border-left: 2px solid @teal !important; border-right: 2px solid @teal !important; border-bottom: 2px solid @teal !important; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; margin-bottom: 20px; padding: 25px 20px;
                    a{.inter(900); font-size: 14px; color: @darkest-grey; text-transform: uppercase; background-image: linear-gradient(180deg,transparent 75%, darken(@teal, 15%) 0); padding: 0 2px; margin: 0 3px; transition: .25s ease-in-out;}
                }
            }
        }
    }
}

@media screen and (max-width: 625px){
    .faq-container{
        /deep/ p-tabview{
        .ui-tabview{
            &.ui-tabview-left{
                .ui-tabview-nav{display: flex; flex-direction: row; justify-content: space-between; align-items: center; float: none !important; height: 60px; width: 100%; background: @teal; border-radius: 9px;  box-shadow: 0 15px 35px 0 rgba(3,3,10,.22),0 5px 15px rgba(0,0,0,.56) !important; margin-bottom: 40px;
                    li{display: flex; flex-direction: row; justify-content: center; align-items: center; width: auto; margin: 0px !important;
                        &.ui-state-active{
                            a{}
                        }
                        &:focus{}
                        a{display: flex; flex-direction: row; justify-content: center; align-items: center;}
                    }
                }
                .ui-tabview-panels{float: none !important; width: 100%;}
            }
        }
    }
    }
}