@import url("../../styles.less");

footer{display: flex; flex-direction: row; justify-content: space-between; align-items: flex-end; width: 100%; min-height: 45vh; padding: 60px 40px 40px 40px; background: @darkest-grey; 
    span{color: @white-blue;
        span{color: @teal; font-style: italic;}
        a{color: @green;}
    }
}

@media screen and (max-width: 685px){
    footer{flex-direction: column; justify-content: flex-end; align-items: flex-start; font-size: 12px;
        span.copyright-info{padding-bottom: 5px;}
    }
}