<footer>
  <span class="copyright-info">
      <a routerLink="/contact">Contact Us</a>
      <a routerLink="/waiver">Under 18 Waiver</a>
      <a routerLink="/conduct">Code of Conduct</a>
      <a routerLink="/privacy">Privacy Policy</a>
      <div>&copy; hackupstate.com <span>&nbsp; // &nbsp;</span> 2019</div>
  </span>

  <span class="site-credit">
      Developed by <a href="http://thegolferdev.com/" target="_blank">Jeremy Conn</a> <span>&nbsp; // &nbsp;</span> <a href="https://jessepeplinski.com/" target="_blank">Jesse Peplinksi</a>
  </span>
</footer>
