<footer>
    <span class="additional-links-container">
        <h3>Additional Links</h3>
        <a routerLink="/contact">Contact Us</a>
        <a routerLink="/waiver">Under 18 Waiver</a>
        <a routerLink="/conduct">Code of Conduct</a>
        <a routerLink="/privacy">Privacy Policy</a>
    </span>
    <span class="location-container">
        <h3>Where</h3>
        <span class="address">
            The Technology Garden<br>
            235 Harrison St.<br>
            Syracuse, NY 13202<br>
            <a href="https://www.google.com/maps/dir/''/the+technology+garden/data=!4m5!4m4!1m0!1m2!1m1!1s0x89d9f3be64671fcb:0xd90a35d916f066ff?sa=X&ved=0ahUKEwjp9r3xg_bYAhVL0YMKHXN0B10Q9RcIlwEwEA">Open
                Maps</a>
    
        </span>
    </span>
    <span class="sponsor-container">
        <h3>Sponsors</h3>
        <a routerLink="/become-a-sponsor">Become a Sponsor</a>
        <a routerLink="/sponsors">View Sponsors</a>
    </span>
  <span class="site-credit">
    <span class="copyright-info">
        <div>&copy; hackupstate.com <span>&nbsp; // &nbsp;</span> 2019</div>
    </span>
    <span>Developed by <a href="http://thegolferdev.com/" target="_blank">Jeremy Conn</a> <span>&nbsp; // &nbsp;</span> <a href="https://jessepeplinski.com/" target="_blank">Jesse Peplinksi</a></span>
  </span>
</footer>
