@import url("../../styles.less");

footer{display: flex; flex-direction: row; justify-content: space-between; align-items: flex-end; width: 100%; min-height: 45vh; padding: 60px 25px 40px 25px; background: @black; 
    span{color: @green;}
}