@import url("../../styles.less");

.team-container{display: flex; flex-direction: row; justify-content: space-around; align-items: center; width: 100%; flex: 1; flex-wrap: wrap; padding: 80px 0 60px 0;
    .team-member-container{display: flex; flex-direction: column; justify-content: flex-start; align-items: center; flex-basis: calc(50% - 100px); max-width: calc(50% - 100px); background: linear-gradient(to right, #1b1b24, #0a0a15); border-top: 2px solid @teal; border-radius: 9px; box-shadow: 0 15px 35px 0 rgba(3,3,10,.22),0 5px 15px rgba(0,0,0,.56) !important; margin: 0 50px; padding: 20px 0;
        .team-member-profile-pic{width: 175px; height: 175px; border-radius: 100%; overflow: hidden; background: #000; border: 4px solid @teal; margin: 25px 0 20px 0; position: relative;
            img{width: 100%; height: 100%; filter: saturate(0%) brightness(.5) contrast(101%); position: absolute;  z-index: 100;}
            &:after{content: ''; width: 100%; height: 100%; background: @blue; opacity: .6; mix-blend-mode: multiply; position: absolute; top: 0; left: 0; z-index: 101;}
        }
        h2.team-member-name{.inter(900); font-size: 24px; color: @green; background-image: linear-gradient(180deg,transparent 75%,rgba(51,213,195,.15) 0); padding: 0 8px; margin: 0 0 8px 0;}
        span.team-member-role{.inter(500); font-size: 12px; background: @darkest-grey; padding: 5px 8px; border-radius: 24px; color: @teal; margin: 0 0 25px 0;}
        p.team-member-description{width: 80%; max-width: 525px; .inter(500); font-size: 16px; line-height: 1.5; color: @white-green; padding-bottom: 25px;}
        &:first-of-type{
            .team-member-profile-pic{
                img{filter: saturate(0%) brightness(.7) contrast(101%);}
            }
        }
    }
}

.history-container{display: flex; flex-direction: column; justify-content: center; align-items: flex-start; width: 100%; flex: 1; flex-wrap: wrap; padding: 60px 0;
    .history-pic-container-large{width: 100%; max-width: 1168px; height: 100%; min-height: 1px; align-self: center;
        .history-pic-container{width: 100%; height: 0; padding-bottom: 56.25%; border-radius: 12px; border: 1px solid #02020c; position: relative; overflow: hidden;
            img{width: 100%; height: auto; position: absolute; top: 50%; left: 0; transform: translateY(-50%); filter: saturate(0%) brightness(.5); z-index: 100;}
            .post-image-overlay{width: 100%; height: 100%; position: absolute; top: 0; left: 0; z-index: 101; background: @teal; opacity: .5; mix-blend-mode: multiply; }
        }
    }
    .history-description-container{width: 100%; max-width: 1168px; align-self: center;
        p.history-description{width: 65%; max-width: 768px; .inter(500); font-size: 18px; line-height: 1.6; color: @white-blue; padding: 60px 0; margin: 0 auto;}
    }
}

@media screen and (max-width: 960px){
    .team-container{flex-direction: column;
        .team-member-container{flex-basis: 100%; max-width: 100%; margin: 25px 0;}
    }
}

@media screen and (max-width: 768px){
    .history-container{
        .history-description-container{
            p.history-description{width: 80%;}
        }
    }
}

@media screen and (max-width: 450px){
    .history-container{
        .history-description-container{
            p.history-description{width: 100%; font-size: 16px; line-height: 1.6;}
        }
    }
}