<section class="hero-section inner-page">
  <div class="hero-text">
    <div class="undraw-container">
      <svg id="3cd38589-f6b5-4ced-9f2c-9a4b79f01fae" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        width="835.61" height="660.05" viewBox="0 0 835.61 660.05">
        <defs>
          <linearGradient id="459c4fc8-d836-433f-a197-0a2a91cd58e2" x1="435.61" y1="529" x2="435.61" gradientUnits="userSpaceOnUse">
            <stop offset="0" stop-color="gray" stop-opacity="0.25" />
            <stop offset="0.54" stop-color="gray" stop-opacity="0.12" />
            <stop offset="1" stop-color="gray" stop-opacity="0.1" />
          </linearGradient>
          <linearGradient id="342ea0e6-6062-49b7-bc20-c734cb7a73a4" x1="435.61" y1="488" x2="435.61" y2="95" xlink:href="#459c4fc8-d836-433f-a197-0a2a91cd58e2" />
          <linearGradient id="763d00b7-5a07-4818-8ebb-d18341e18e84" x1="171.55" y1="660.05" x2="171.55" y2="316.95"
            xlink:href="#459c4fc8-d836-433f-a197-0a2a91cd58e2" />
          <linearGradient id="92069d5c-e5f8-43fe-b38d-e54af900eab7" x1="171.55" y1="496.61" x2="171.55" y2="480.38"
            xlink:href="#459c4fc8-d836-433f-a197-0a2a91cd58e2" />
          <linearGradient id="cc2cb1f8-9965-47fb-9589-218376181648" x1="194.61" y1="489.5" x2="194.61" y2="382.5" xlink:href="#459c4fc8-d836-433f-a197-0a2a91cd58e2" />
          <linearGradient id="21b9629b-50a9-4ebb-aca6-e4e0185f53fc" x1="187.61" y1="544.5" x2="187.61" y2="488.5" xlink:href="#459c4fc8-d836-433f-a197-0a2a91cd58e2" />
          <linearGradient id="fcd1d80a-fd87-48d8-ac9f-c26a469979c7" x1="509.54" y1="778.88" x2="509.54" y2="769.85"
            gradientTransform="translate(1170.3 491.9) rotate(120)" xlink:href="#459c4fc8-d836-433f-a197-0a2a91cd58e2" />
          <linearGradient id="103b5314-699c-4416-ba96-f0315aa2be6d" x1="246.07" y1="679.17" x2="246.07" y2="670.14"
            gradientTransform="translate(370.3 -32.65) rotate(30)" xlink:href="#459c4fc8-d836-433f-a197-0a2a91cd58e2" />
          <linearGradient id="f7eccc56-af47-4388-bae2-3610c4149eb5" x1="364.44" y1="766.03" x2="364.44" y2="756.99"
            gradientTransform="translate(110.34 -349.73) rotate(30)" xlink:href="#459c4fc8-d836-433f-a197-0a2a91cd58e2" />
          <linearGradient id="bcd8726a-d7c5-49b1-9a44-0b3978539435" x1="643.63" y1="719.48" x2="643.63" y2="710.44"
            gradientTransform="translate(1232.03 299.71) rotate(120)" xlink:href="#459c4fc8-d836-433f-a197-0a2a91cd58e2" />
          <linearGradient id="391a46f9-b208-48d2-be26-d2096ab99e61" x1="627.41" y1="656.89" x2="627.41" y2="647.85"
            gradientTransform="translate(1232.3 266.24) rotate(120)" xlink:href="#459c4fc8-d836-433f-a197-0a2a91cd58e2" />
          <linearGradient id="83f8f054-eb9c-442d-b51f-167d68b16295" x1="643.63" y1="594.29" x2="643.63" y2="585.26"
            gradientTransform="translate(1248.8 237.12) rotate(120)" xlink:href="#459c4fc8-d836-433f-a197-0a2a91cd58e2" />
          <linearGradient id="ae1ae34d-eb1b-4711-a510-1c391231e596" x1="690" y1="547.93" x2="690" y2="538.89"
            gradientTransform="translate(1278.2 220.15) rotate(120)" xlink:href="#459c4fc8-d836-433f-a197-0a2a91cd58e2" />
          <linearGradient id="9891a10d-f6cd-4be8-8439-1a188b457eca" x1="818.66" y1="549.09" x2="818.66" y2="540.05"
            gradientTransform="translate(1342.37 237.96) rotate(120)" xlink:href="#459c4fc8-d836-433f-a197-0a2a91cd58e2" />
          <linearGradient id="fc0ab291-1c38-49b0-9137-a4534010b0cb" x1="863.87" y1="596.61" x2="863.87" y2="587.58"
            gradientTransform="translate(1358.61 267.78) rotate(120)" xlink:href="#459c4fc8-d836-433f-a197-0a2a91cd58e2" />
          <linearGradient id="28dee737-f47b-4c6f-813e-2c0be0b581eb" x1="877.78" y1="656.89" x2="877.78" y2="647.85"
            gradientTransform="translate(1357.49 299.78) rotate(120)" xlink:href="#459c4fc8-d836-433f-a197-0a2a91cd58e2" />
          <linearGradient id="228de15d-ea7a-43bb-9b48-ae33db5c4fe2" x1="863.87" y1="717.16" x2="863.87" y2="708.13"
            gradientTransform="translate(1342.46 328.06) rotate(120)" xlink:href="#459c4fc8-d836-433f-a197-0a2a91cd58e2" />
        </defs>
        <title>calendar</title>
        <rect x="35.61" width="800" height="529" fill="url(#459c4fc8-d836-433f-a197-0a2a91cd58e2)" />
        <rect x="42.61" y="62.5" width="784" height="450.5" fill="#fff" />
        <rect x="42.61" y="11" width="784" height="51.5" fill="#5fb791" />
        <rect x="53.61" y="95" width="764" height="393" fill="url(#342ea0e6-6062-49b7-bc20-c734cb7a73a4)" />
        <rect x="63.11" y="102" width="92" height="73.5" fill="#5fb791" opacity="0.5" />
        <rect x="156.11" y="102" width="92" height="73.5" fill="#fff" />
        <rect x="249.11" y="102" width="92" height="73.5" fill="#5fb791" opacity="0.2" />
        <rect x="342.11" y="102" width="92" height="73.5" fill="#fff" />
        <rect x="435.11" y="102" width="92" height="73.5" fill="#fff" />
        <rect x="528.11" y="102" width="92" height="73.5" fill="#5fb791" opacity="0.5" />
        <rect x="621.11" y="102" width="92" height="73.5" fill="#fff" />
        <rect x="714.11" y="102" width="92" height="73.5" fill="#5fb791" opacity="0.2" />
        <rect x="63.11" y="177" width="92" height="73.5" fill="#5fb791" opacity="0.2" />
        <rect x="156.11" y="177" width="92" height="73.5" fill="#5fb791" opacity="0.2" />
        <rect x="249.11" y="177" width="92" height="73.5" fill="#fff" />
        <rect x="342.11" y="177" width="92" height="73.5" fill="#5fb791" opacity="0.5" />
        <rect x="435.11" y="177" width="92" height="73.5" fill="#fff" />
        <rect x="528.11" y="177" width="92" height="73.5" fill="#5fb791" opacity="0.2" />
        <rect x="621.11" y="177" width="92" height="73.5" fill="#5fb791" opacity="0.5" />
        <rect x="714.11" y="177" width="92" height="73.5" fill="#fff" />
        <rect x="63.11" y="251" width="92" height="73.5" fill="#fff" />
        <rect x="156.11" y="251" width="92" height="73.5" fill="#fff" />
        <rect x="249.11" y="251" width="92" height="73.5" fill="#5fb791" opacity="0.2" />
        <rect x="342.11" y="251" width="92" height="73.5" fill="#fff" />
        <rect x="435.11" y="251" width="92" height="73.5" fill="#5fb791" opacity="0.2" />
        <rect x="528.11" y="251" width="92" height="73.5" fill="#fff" />
        <rect x="621.11" y="251" width="92" height="73.5" fill="#fff" />
        <rect x="714.11" y="251" width="92" height="73.5" fill="#5fb791" opacity="0.2" />
        <rect x="63.11" y="325" width="92" height="73.5" fill="#fff" />
        <rect x="156.11" y="325" width="92" height="73.5" fill="#5fb791" opacity="0.5" />
        <rect x="249.11" y="325" width="92" height="73.5" fill="#5fb791" opacity="0.5" />
        <rect x="342.11" y="325" width="92" height="73.5" fill="#fff" />
        <rect x="435.11" y="325" width="92" height="73.5" fill="#fff" />
        <rect x="528.11" y="325" width="92" height="73.5" fill="#5fb791" opacity="0.5" />
        <rect x="621.11" y="325" width="92" height="73.5" fill="#fff" />
        <rect x="714.11" y="325" width="92" height="73.5" fill="#5fb791" opacity="0.5" />
        <rect x="63.11" y="400" width="92" height="73.5" fill="#5fb791" opacity="0.5" />
        <rect x="156.11" y="400" width="92" height="73.5" fill="#5fb791" opacity="0.2" />
        <rect x="249.11" y="400" width="92" height="73.5" fill="#fff" />
        <rect x="342.11" y="400" width="92" height="73.5" fill="#5fb791" opacity="0.5" />
        <rect x="435.11" y="400" width="92" height="73.5" fill="#5fb791" opacity="0.2" />
        <rect x="528.11" y="400" width="92" height="73.5" fill="#fff" />
        <rect x="621.11" y="400" width="92" height="73.5" fill="#5fb791" opacity="0.2" />
        <rect x="714.11" y="400" width="92" height="73.5" fill="#fff" />
        <rect x="70.61" y="258" width="28" height="28" fill="#69f0ae" />
        <rect x="348.61" y="110" width="28" height="28" fill="#69f0ae" />
        <rect x="345.61" y="258" width="28" height="28" fill="#69f0ae" />
        <rect x="440.61" y="329" width="28" height="28" fill="#69f0ae" />
        <rect x="625.61" y="258" width="28" height="28" fill="#69f0ae" />
        <circle cx="171.55" cy="488.5" r="171.55" fill="url(#763d00b7-5a07-4818-8ebb-d18341e18e84)" />
        <circle cx="171.55" cy="488.5" r="166.92" fill="#5fb791" />
        <circle cx="171.55" cy="488.5" r="135.62" fill="#fff" />
        <circle cx="171.55" cy="488.5" r="8.11" fill="url(#92069d5c-e5f8-43fe-b38d-e54af900eab7)" />
        <line x1="216.76" y1="384.18" x2="172.71" y2="488.5" fill="#5fb791" />
        <polygon points="174.61 489.5 169.61 487.82 214.61 382.5 219.61 384.85 174.61 489.5" fill="url(#cc2cb1f8-9965-47fb-9589-218376181648)" />
        <rect x="320.31" y="554.57" width="113.24" height="3.48" transform="translate(-464.39 567.17) rotate(-67.11)" fill="#2196f3" />
        <line x1="172.71" y1="489.66" x2="201.69" y2="542.98" fill="#5fb791" />
        <polygon points="199.61 544.5 170.61 490.5 174.61 488.5 204.61 541.5 199.61 544.5" fill="url(#21b9629b-50a9-4ebb-aca6-e4e0185f53fc)" />
        <rect x="367.66" y="605.95" width="3.48" height="60.69" transform="translate(-441.2 133.65) rotate(-28.52)" fill="#2196f3" />
        <circle cx="297.9" cy="491.98" r="3.48" fill="#5fb791" />
        <circle cx="244.91" cy="545.99" r="4.52" transform="translate(-532.58 365.12) rotate(-60)" fill="url(#fcd1d80a-fd87-48d8-ac9f-c26a469979c7)" />
        <circle cx="246.07" cy="674.66" r="4.52" transform="translate(-486.56 93.44) rotate(-30)" fill="url(#103b5314-699c-4416-ba96-f0315aa2be6d)" />
        <circle cx="45.21" cy="491.98" r="4.52" fill="url(#f7eccc56-af47-4388-bae2-3610c4149eb5)" />
        <circle cx="291.04" cy="499.63" r="4.52" transform="translate(-393.02 92.48) rotate(-30)" fill="url(#bcd8726a-d7c5-49b1-9a44-0b3978539435)" />
        <circle cx="353.63" cy="483.41" r="4.52" transform="translate(-376.52 121.6) rotate(-30)" fill="url(#391a46f9-b208-48d2-be26-d2096ab99e61)" />
        <circle cx="416.23" cy="499.63" r="4.52" transform="translate(-376.25 155.08) rotate(-30)" fill="url(#83f8f054-eb9c-442d-b51f-167d68b16295)" />
        <circle cx="462.59" cy="546" r="4.52" transform="translate(-393.22 184.47) rotate(-30)" fill="url(#ae1ae34d-eb1b-4711-a510-1c391231e596)" />
        <circle cx="461.43" cy="674.66" r="4.52" transform="translate(-457.7 201.13) rotate(-30)" fill="url(#9891a10d-f6cd-4be8-8439-1a188b457eca)" />
        <circle cx="413.91" cy="719.87" r="4.52" transform="translate(-486.68 183.42) rotate(-30)" fill="url(#fc0ab291-1c38-49b0-9137-a4534010b0cb)" />
        <circle cx="353.63" cy="733.78" r="4.52" transform="translate(-501.71 155.15) rotate(-30)" fill="url(#28dee737-f47b-4c6f-813e-2c0be0b581eb)" />
        <circle cx="293.36" cy="719.87" r="4.52" transform="translate(-502.83 123.15) rotate(-30)" fill="url(#228de15d-ea7a-43bb-9b48-ae33db5c4fe2)" />
        <circle cx="171.55" cy="363.31" r="3.48" fill="#69f0ae" />
        <circle cx="416.34" cy="500.06" r="3.48" transform="translate(-407.09 490.61) rotate(-60)" fill="#69f0ae" />
        <circle cx="462.16" cy="545.88" r="3.48" transform="translate(-393.22 184.24) rotate(-30)" fill="#69f0ae" />
        <circle cx="461.43" cy="674.66" r="3.48" transform="translate(-535.75 616.96) rotate(-60)" fill="#69f0ae" />
        <circle cx="413.91" cy="719.63" r="3.48" transform="translate(-486.56 183.39) rotate(-30)" fill="#69f0ae" />
        <circle cx="291.15" cy="500.06" r="3.48" transform="translate(-393.22 92.6) rotate(-30)" fill="#69f0ae" />
        <circle cx="245.33" cy="545.88" r="3.48" transform="translate(-532.27 365.43) rotate(-60)" fill="#69f0ae" />
        <circle cx="479.98" cy="612.07" r="4.52" transform="translate(-423.92 202.02) rotate(-30)" fill="#69f0ae" />
        <circle cx="246.07" cy="674.66" r="3.48" transform="translate(-486.56 93.44) rotate(-30)" fill="#69f0ae" />
        <circle cx="293.58" cy="719.63" r="3.48" transform="translate(-658.62 494.09) rotate(-60)" fill="#69f0ae" />
        <circle cx="45.21" cy="491.98" r="3.48" fill="#69f0ae" />
        <circle cx="171.55" cy="613.68" r="3.48" fill="#69f0ae" />
        <path d="M225.08,621.22a135.64,135.64,0,0,1,253.28-67.48A135.64,135.64,0,1,0,236.08,674.8,135.16,135.16,0,0,1,225.08,621.22Z"
          transform="translate(-182.19 -119.97)" fill="#5fb791" opacity="0.2" />
        <circle cx="171.55" cy="488.5" r="5.8" fill="#69f0ae" />
      </svg>
    </div>
    <h2>Events <a class="hero-cta" routerLink="/events/xiii">Hack Upstate XIII</a></h2>
  </div>
</section>
<section class="sub-section">
  <h1>Upcoming Events</h1>
  <div class="upcoming-events-container">
    <div class="overall-calendar-container">
      <div class="single-calendar-date-container">
        <div class="single-calendar-date">
          <span class="calendar-day">11</span>
          <span class="calendar-month-short">MAR</span>
        </div>
        <div class="calendar-event-container">
          <div class="calendar-event-icon">
            <img src="../../assets/img/hu-logo-small.png" alt="Hack Upstate" />
          </div>
          <div class="calendar-event-info-container">
            <span class="calendar-event-title">Careers In Code - First Day of Class</span>
            <span class="calendar-event-time">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-time">
                <circle cx="12" cy="12" r="10" class="primary" />
                <path class="secondary" d="M13 11.59l3.2 3.2a1 1 0 0 1-1.4 1.42l-3.5-3.5A1 1 0 0 1 11 12V7a1 1 0 0 1 2 0v4.59z" /></svg>
              <span class="time">5:30pm - 8:30pm</span>
            </span>
          </div>
          <a class="event-sign-up-button" href="https://careersincode.org/">Learn More</a>
        </div>
      </div>

      <div class="single-calendar-date-container">
        <div class="single-calendar-date">
          <span class="calendar-day">6-7</span>
          <span class="calendar-month-short">APR</span>
        </div>
        <div class="calendar-event-container">
          <div class="calendar-event-icon">
            <img src="../../assets/img/hu-logo-small.png" alt="Hack Upstate" />
          </div>
          <div class="calendar-event-info-container">
            <span class="calendar-event-title">Hack Upstate XIII</span>
            <span class="calendar-event-time">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-time">
              <circle cx="12" cy="12" r="10" class="primary" />
              <path class="secondary" d="M13 11.59l3.2 3.2a1 1 0 0 1-1.4 1.42l-3.5-3.5A1 1 0 0 1 11 12V7a1 1 0 0 1 2 0v4.59z" /></svg>
              <span class="time">11:00 AM (SAT) - 2:00 PM (SUN)</span>
            </span>
          </div>
          <a class="event-sign-up-button" routerLink="/events/xiii">Sign Up</a>
        </div>
      </div>

    </div>
  </div>
</section>
<section class="sub-section alt-bg">
  <h1>Past Events</h1>
  <div class="past-events-container">
    <div class="past-event-container">
      <div class="past-event-logo-container">
        <img src="../../assets/img/events/weekend-hackathons/13-spring-2018-xiii/HU_BLACK_TRANSPARENT.png" alt="Hack Upstate XIII" />
        <div class="image-overlay"></div>
      </div>
      <span class="past-event-dates">Apr. 6-7, 2019</span>
      <h2 class="past-event-name">Hack Upstate XIII</h2>
      <div class="past-event-info-container">
        <span class="past-event-participants">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-user-group">
            <path class="primary" d="M12 13a3 3 0 0 1 3-3h4a3 3 0 0 1 3 3v3a1 1 0 0 1-1 1h-8a1 1 0 0 1-1-1 1 1 0 0 1-1 1H3a1 1 0 0 1-1-1v-3a3 3 0 0 1 3-3h4a3 3 0 0 1 3 3zM7 9a3 3 0 1 1 0-6 3 3 0 0 1 0 6zm10 0a3 3 0 1 1 0-6 3 3 0 0 1 0 6z" />
            <path class="secondary" d="M12 13a3 3 0 1 1 0-6 3 3 0 0 1 0 6zm-3 1h6a3 3 0 0 1 3 3v3a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1v-3a3 3 0 0 1 3-3z" /></svg>
          <span class="info-unit">150</span>Hackers
        </span>
        <span class="past-event-projects">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-survey">
            <path class="primary" d="M5 5h14a2 2 0 0 1 2 2v13a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V7c0-1.1.9-2 2-2zm3 7a1 1 0 0 0 0 2h8a1 1 0 0 0 0-2H8zm0 4a1 1 0 0 0 0 2h4a1 1 0 0 0 0-2H8z" />
            <path class="secondary" d="M15 4a2 2 0 0 1 2 2v1a1 1 0 0 1-1 1H8a1 1 0 0 1-1-1V6c0-1.1.9-2 2-2 0-1.1.9-2 2-2h2a2 2 0 0 1 2 2z" /></svg>
          <span class="info-unit">14</span>Projects
        </span>
      </div>
      <div class="past-event-link-container">
        <a class="past-event-link" routerLink="/events/xiii">View</a>
      </div>
    </div> 
    <div class="past-event-container">
      <div class="past-event-logo-container">
        <img src="../../assets/img/events/weekend-hackathons/12-fall-2018-xii/HU_COLOR_TRANSPARENT.png" alt="Hack Upstate XII" />
        <div class="image-overlay"></div>
      </div>
      <span class="past-event-dates">Oct. 6-7, 2018</span>
      <h2 class="past-event-name">Hack Upstate XII</h2>
      <div class="past-event-info-container">
        <span class="past-event-participants">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-user-group">
            <path class="primary" d="M12 13a3 3 0 0 1 3-3h4a3 3 0 0 1 3 3v3a1 1 0 0 1-1 1h-8a1 1 0 0 1-1-1 1 1 0 0 1-1 1H3a1 1 0 0 1-1-1v-3a3 3 0 0 1 3-3h4a3 3 0 0 1 3 3zM7 9a3 3 0 1 1 0-6 3 3 0 0 1 0 6zm10 0a3 3 0 1 1 0-6 3 3 0 0 1 0 6z" />
            <path class="secondary" d="M12 13a3 3 0 1 1 0-6 3 3 0 0 1 0 6zm-3 1h6a3 3 0 0 1 3 3v3a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1v-3a3 3 0 0 1 3-3z" /></svg>
          <span class="info-unit">190</span>Hackers
        </span>
        <span class="past-event-projects">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-survey">
            <path class="primary" d="M5 5h14a2 2 0 0 1 2 2v13a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V7c0-1.1.9-2 2-2zm3 7a1 1 0 0 0 0 2h8a1 1 0 0 0 0-2H8zm0 4a1 1 0 0 0 0 2h4a1 1 0 0 0 0-2H8z" />
            <path class="secondary" d="M15 4a2 2 0 0 1 2 2v1a1 1 0 0 1-1 1H8a1 1 0 0 1-1-1V6c0-1.1.9-2 2-2 0-1.1.9-2 2-2h2a2 2 0 0 1 2 2z" /></svg>
          <span class="info-unit">12</span>Projects
        </span>
      </div>
      <div class="past-event-link-container">
        <a class="past-event-link" routerLink="/events/xii">View</a>
      </div>
    </div>
    <div class="past-event-container">
      <div class="past-event-logo-container">
        <img src="../../assets/img/events/weekend-hackathons/11-spring-2018-xi/HACKUPSTATE_BLACK_TRANSPARENT.png" alt="Hack Upstate XI" />
        <div class="image-overlay"></div>
      </div>
      <span class="past-event-dates">Apr. 14-15, 2018</span>
      <h2 class="past-event-name">Hack Upstate XI</h2>
      <div class="past-event-info-container">
        <span class="past-event-participants">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-user-group">
            <path class="primary" d="M12 13a3 3 0 0 1 3-3h4a3 3 0 0 1 3 3v3a1 1 0 0 1-1 1h-8a1 1 0 0 1-1-1 1 1 0 0 1-1 1H3a1 1 0 0 1-1-1v-3a3 3 0 0 1 3-3h4a3 3 0 0 1 3 3zM7 9a3 3 0 1 1 0-6 3 3 0 0 1 0 6zm10 0a3 3 0 1 1 0-6 3 3 0 0 1 0 6z" />
            <path class="secondary" d="M12 13a3 3 0 1 1 0-6 3 3 0 0 1 0 6zm-3 1h6a3 3 0 0 1 3 3v3a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1v-3a3 3 0 0 1 3-3z" /></svg>
          <span class="info-unit">100</span>Hackers
        </span>
        <span class="past-event-projects">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-survey">
            <path class="primary" d="M5 5h14a2 2 0 0 1 2 2v13a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V7c0-1.1.9-2 2-2zm3 7a1 1 0 0 0 0 2h8a1 1 0 0 0 0-2H8zm0 4a1 1 0 0 0 0 2h4a1 1 0 0 0 0-2H8z" />
            <path class="secondary" d="M15 4a2 2 0 0 1 2 2v1a1 1 0 0 1-1 1H8a1 1 0 0 1-1-1V6c0-1.1.9-2 2-2 0-1.1.9-2 2-2h2a2 2 0 0 1 2 2z" /></svg>
          <span class="info-unit">16</span>Projects
        </span>
      </div>
      <div class="past-event-link-container">
        <a class="past-event-link" routerLink="/events/xi">View</a>
      </div>
    </div>
    <div class="past-event-container">
      <div class="past-event-logo-container">
        <img src="../../assets/img/events/weekend-hackathons/10-fall-2017-x/hu-x.jpg" alt="Hack Upstate X" />
        <div class="image-overlay"></div>
      </div>
      <span class="past-event-dates">Oct. 7-8, 2017</span>
      <h2 class="past-event-name">Hack Upstate X</h2>
      <div class="past-event-info-container">
        <span class="past-event-participants">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-user-group">
            <path class="primary" d="M12 13a3 3 0 0 1 3-3h4a3 3 0 0 1 3 3v3a1 1 0 0 1-1 1h-8a1 1 0 0 1-1-1 1 1 0 0 1-1 1H3a1 1 0 0 1-1-1v-3a3 3 0 0 1 3-3h4a3 3 0 0 1 3 3zM7 9a3 3 0 1 1 0-6 3 3 0 0 1 0 6zm10 0a3 3 0 1 1 0-6 3 3 0 0 1 0 6z" />
            <path class="secondary" d="M12 13a3 3 0 1 1 0-6 3 3 0 0 1 0 6zm-3 1h6a3 3 0 0 1 3 3v3a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1v-3a3 3 0 0 1 3-3z" /></svg>
          <span class="info-unit">100</span>Hackers
        </span>
        <span class="past-event-projects">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-survey">
            <path class="primary" d="M5 5h14a2 2 0 0 1 2 2v13a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V7c0-1.1.9-2 2-2zm3 7a1 1 0 0 0 0 2h8a1 1 0 0 0 0-2H8zm0 4a1 1 0 0 0 0 2h4a1 1 0 0 0 0-2H8z" />
            <path class="secondary" d="M15 4a2 2 0 0 1 2 2v1a1 1 0 0 1-1 1H8a1 1 0 0 1-1-1V6c0-1.1.9-2 2-2 0-1.1.9-2 2-2h2a2 2 0 0 1 2 2z" /></svg>
          <span class="info-unit">17</span>Projects
        </span>
      </div>
      <div class="past-event-link-container">
        <a class="past-event-link" routerLink="/events/x">View</a>
      </div>
    </div>
    <div class="past-event-container">
      <div class="past-event-logo-container">
        <img src="../../assets/img/events/weekend-hackathons/09-spring-2017-ix/IX-md.png" alt="Hack Upstate IX" />
        <div class="image-overlay"></div>
      </div>
      <span class="past-event-dates">Apr. 8-9, 2017</span>
      <h2 class="past-event-name">Hack Upstate IX</h2>
      <div class="past-event-info-container">
        <span class="past-event-participants">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-user-group">
            <path class="primary" d="M12 13a3 3 0 0 1 3-3h4a3 3 0 0 1 3 3v3a1 1 0 0 1-1 1h-8a1 1 0 0 1-1-1 1 1 0 0 1-1 1H3a1 1 0 0 1-1-1v-3a3 3 0 0 1 3-3h4a3 3 0 0 1 3 3zM7 9a3 3 0 1 1 0-6 3 3 0 0 1 0 6zm10 0a3 3 0 1 1 0-6 3 3 0 0 1 0 6z" />
            <path class="secondary" d="M12 13a3 3 0 1 1 0-6 3 3 0 0 1 0 6zm-3 1h6a3 3 0 0 1 3 3v3a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1v-3a3 3 0 0 1 3-3z" /></svg>
          <span class="info-unit">153</span>Hackers
        </span>
        <span class="past-event-projects">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-survey">
            <path class="primary" d="M5 5h14a2 2 0 0 1 2 2v13a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V7c0-1.1.9-2 2-2zm3 7a1 1 0 0 0 0 2h8a1 1 0 0 0 0-2H8zm0 4a1 1 0 0 0 0 2h4a1 1 0 0 0 0-2H8z" />
            <path class="secondary" d="M15 4a2 2 0 0 1 2 2v1a1 1 0 0 1-1 1H8a1 1 0 0 1-1-1V6c0-1.1.9-2 2-2 0-1.1.9-2 2-2h2a2 2 0 0 1 2 2z" /></svg>
          <span class="info-unit">21</span>Projects
        </span>
      </div>
      <div class="past-event-link-container">
        <a class="past-event-link" routerLink="/events/ix">View</a>
      </div>
    </div>
    <div class="past-event-container">
      <div class="past-event-logo-container">
        <img src="../../assets/img/events/weekend-hackathons/08-fall-2016-viii/VIII-md.png" alt="Hack Upstate VIII" />
        <div class="image-overlay"></div>
      </div>
      <span class="past-event-dates">Oct. 8-9, 2016</span>
      <h2 class="past-event-name">Hack Upstate VIII</h2>
      <div class="past-event-info-container">
        <span class="past-event-participants">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-user-group">
            <path class="primary" d="M12 13a3 3 0 0 1 3-3h4a3 3 0 0 1 3 3v3a1 1 0 0 1-1 1h-8a1 1 0 0 1-1-1 1 1 0 0 1-1 1H3a1 1 0 0 1-1-1v-3a3 3 0 0 1 3-3h4a3 3 0 0 1 3 3zM7 9a3 3 0 1 1 0-6 3 3 0 0 1 0 6zm10 0a3 3 0 1 1 0-6 3 3 0 0 1 0 6z" />
            <path class="secondary" d="M12 13a3 3 0 1 1 0-6 3 3 0 0 1 0 6zm-3 1h6a3 3 0 0 1 3 3v3a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1v-3a3 3 0 0 1 3-3z" /></svg>
          <span class="info-unit">153</span>Hackers
        </span>
        <span class="past-event-projects">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-survey">
            <path class="primary" d="M5 5h14a2 2 0 0 1 2 2v13a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V7c0-1.1.9-2 2-2zm3 7a1 1 0 0 0 0 2h8a1 1 0 0 0 0-2H8zm0 4a1 1 0 0 0 0 2h4a1 1 0 0 0 0-2H8z" />
            <path class="secondary" d="M15 4a2 2 0 0 1 2 2v1a1 1 0 0 1-1 1H8a1 1 0 0 1-1-1V6c0-1.1.9-2 2-2 0-1.1.9-2 2-2h2a2 2 0 0 1 2 2z" /></svg>
          <span class="info-unit">22</span>Projects
        </span>
      </div>
      <div class="past-event-link-container">
        <a class="past-event-link" routerLink="/events/viii">View</a>
      </div>
    </div>
    <div class="past-event-container">
      <div class="past-event-logo-container">
        <img src="../../assets/img/events/weekend-hackathons/07-spring-2016-vii/VII.jpg" alt="Hack Upstate VII" />
        <div class="image-overlay"></div>
      </div>
      <span class="past-event-dates">Apr. 9-10, 2016</span>
      <h2 class="past-event-name">Hack Upstate VII</h2>
      <div class="past-event-info-container">
        <span class="past-event-participants">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-user-group">
            <path class="primary" d="M12 13a3 3 0 0 1 3-3h4a3 3 0 0 1 3 3v3a1 1 0 0 1-1 1h-8a1 1 0 0 1-1-1 1 1 0 0 1-1 1H3a1 1 0 0 1-1-1v-3a3 3 0 0 1 3-3h4a3 3 0 0 1 3 3zM7 9a3 3 0 1 1 0-6 3 3 0 0 1 0 6zm10 0a3 3 0 1 1 0-6 3 3 0 0 1 0 6z" />
            <path class="secondary" d="M12 13a3 3 0 1 1 0-6 3 3 0 0 1 0 6zm-3 1h6a3 3 0 0 1 3 3v3a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1v-3a3 3 0 0 1 3-3z" /></svg>
          <span class="info-unit">170</span>Hackers
        </span>
        <span class="past-event-projects">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-survey">
            <path class="primary" d="M5 5h14a2 2 0 0 1 2 2v13a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V7c0-1.1.9-2 2-2zm3 7a1 1 0 0 0 0 2h8a1 1 0 0 0 0-2H8zm0 4a1 1 0 0 0 0 2h4a1 1 0 0 0 0-2H8z" />
            <path class="secondary" d="M15 4a2 2 0 0 1 2 2v1a1 1 0 0 1-1 1H8a1 1 0 0 1-1-1V6c0-1.1.9-2 2-2 0-1.1.9-2 2-2h2a2 2 0 0 1 2 2z" /></svg>
          <span class="info-unit">14</span>Projects
        </span>
      </div>
      <div class="past-event-link-container">
        <a class="past-event-link" routerLink="/events/vii">View</a>
      </div>
    </div>
    <div class="past-event-container">
      <div class="past-event-logo-container">
        <img src="../../assets/img/events/weekend-hackathons/06-fall-2015-vi/VI.jpeg" alt="Hack Upstate VI" />
        <div class="image-overlay"></div>
      </div>
      <span class="past-event-dates">Oct. 3-4, 2015</span>
      <h2 class="past-event-name">Hack Upstate VI</h2>
      <div class="past-event-info-container">
        <span class="past-event-participants">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-user-group">
            <path class="primary" d="M12 13a3 3 0 0 1 3-3h4a3 3 0 0 1 3 3v3a1 1 0 0 1-1 1h-8a1 1 0 0 1-1-1 1 1 0 0 1-1 1H3a1 1 0 0 1-1-1v-3a3 3 0 0 1 3-3h4a3 3 0 0 1 3 3zM7 9a3 3 0 1 1 0-6 3 3 0 0 1 0 6zm10 0a3 3 0 1 1 0-6 3 3 0 0 1 0 6z" />
            <path class="secondary" d="M12 13a3 3 0 1 1 0-6 3 3 0 0 1 0 6zm-3 1h6a3 3 0 0 1 3 3v3a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1v-3a3 3 0 0 1 3-3z" /></svg>
          <span class="info-unit">191</span>Hackers
        </span>
        <span class="past-event-projects">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-survey">
            <path class="primary" d="M5 5h14a2 2 0 0 1 2 2v13a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V7c0-1.1.9-2 2-2zm3 7a1 1 0 0 0 0 2h8a1 1 0 0 0 0-2H8zm0 4a1 1 0 0 0 0 2h4a1 1 0 0 0 0-2H8z" />
            <path class="secondary" d="M15 4a2 2 0 0 1 2 2v1a1 1 0 0 1-1 1H8a1 1 0 0 1-1-1V6c0-1.1.9-2 2-2 0-1.1.9-2 2-2h2a2 2 0 0 1 2 2z" /></svg>
          <span class="info-unit">21</span>Projects
        </span>
      </div>
      <div class="past-event-link-container">
        <!-- <a class="past-event-link" routerLink="/events/vi">View</a> -->
      </div>
    </div>
    <div class="past-event-container">
      <div class="past-event-logo-container">
        <img src="../../assets/img/events/weekend-hackathons/05-spring-2015-v/V.jpeg" alt="Hack Upstate V" />
        <div class="image-overlay"></div>
      </div>
      <span class="past-event-dates">Apr. 11-12, 2015</span>
      <h2 class="past-event-name">Hack Upstate V</h2>
      <div class="past-event-info-container">
        <span class="past-event-participants">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-user-group">
            <path class="primary" d="M12 13a3 3 0 0 1 3-3h4a3 3 0 0 1 3 3v3a1 1 0 0 1-1 1h-8a1 1 0 0 1-1-1 1 1 0 0 1-1 1H3a1 1 0 0 1-1-1v-3a3 3 0 0 1 3-3h4a3 3 0 0 1 3 3zM7 9a3 3 0 1 1 0-6 3 3 0 0 1 0 6zm10 0a3 3 0 1 1 0-6 3 3 0 0 1 0 6z" />
            <path class="secondary" d="M12 13a3 3 0 1 1 0-6 3 3 0 0 1 0 6zm-3 1h6a3 3 0 0 1 3 3v3a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1v-3a3 3 0 0 1 3-3z" /></svg>
          <span class="info-unit">163</span>Hackers
        </span>
        <span class="past-event-projects">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-survey">
            <path class="primary" d="M5 5h14a2 2 0 0 1 2 2v13a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V7c0-1.1.9-2 2-2zm3 7a1 1 0 0 0 0 2h8a1 1 0 0 0 0-2H8zm0 4a1 1 0 0 0 0 2h4a1 1 0 0 0 0-2H8z" />
            <path class="secondary" d="M15 4a2 2 0 0 1 2 2v1a1 1 0 0 1-1 1H8a1 1 0 0 1-1-1V6c0-1.1.9-2 2-2 0-1.1.9-2 2-2h2a2 2 0 0 1 2 2z" /></svg>
          <span class="info-unit">16</span>Projects
        </span>
      </div>
      <div class="past-event-link-container">
        <!-- <a class="past-event-link" href="#">View</a> -->
      </div>
    </div>
    <div class="past-event-container">
      <div class="past-event-logo-container">
        <img src="../../assets/img/events/weekend-hackathons/04-fall-2014-iv/IV.jpeg" alt="Hack Upstate IV" />
        <div class="image-overlay"></div>
      </div>
      <span class="past-event-dates">Oct. 4-5, 2014</span>
      <h2 class="past-event-name">Hack Upstate IV</h2>
      <div class="past-event-info-container">
        <span class="past-event-participants">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-user-group">
            <path class="primary" d="M12 13a3 3 0 0 1 3-3h4a3 3 0 0 1 3 3v3a1 1 0 0 1-1 1h-8a1 1 0 0 1-1-1 1 1 0 0 1-1 1H3a1 1 0 0 1-1-1v-3a3 3 0 0 1 3-3h4a3 3 0 0 1 3 3zM7 9a3 3 0 1 1 0-6 3 3 0 0 1 0 6zm10 0a3 3 0 1 1 0-6 3 3 0 0 1 0 6z" />
            <path class="secondary" d="M12 13a3 3 0 1 1 0-6 3 3 0 0 1 0 6zm-3 1h6a3 3 0 0 1 3 3v3a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1v-3a3 3 0 0 1 3-3z" /></svg>
          <span class="info-unit">153</span>Hackers
        </span>
        <span class="past-event-projects">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-survey">
            <path class="primary" d="M5 5h14a2 2 0 0 1 2 2v13a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V7c0-1.1.9-2 2-2zm3 7a1 1 0 0 0 0 2h8a1 1 0 0 0 0-2H8zm0 4a1 1 0 0 0 0 2h4a1 1 0 0 0 0-2H8z" />
            <path class="secondary" d="M15 4a2 2 0 0 1 2 2v1a1 1 0 0 1-1 1H8a1 1 0 0 1-1-1V6c0-1.1.9-2 2-2 0-1.1.9-2 2-2h2a2 2 0 0 1 2 2z" /></svg>
          <span class="info-unit">16</span>Projects
        </span>
      </div>
      <div class="past-event-link-container">
        <!-- <a class="past-event-link" href="#">View</a> -->
      </div>
    </div>
    <div class="past-event-container">
      <div class="past-event-logo-container">
        <img src="../../assets/img/events/weekend-hackathons/03-spring-2014-iii/III.jpeg" alt="Hack Upstate III" />
        <div class="image-overlay"></div>
      </div>
      <span class="past-event-dates">Oct. 5-6, 2014</span>
      <h2 class="past-event-name">Hack Upstate III</h2>
      <div class="past-event-info-container">
        <span class="past-event-participants">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-user-group">
            <path class="primary" d="M12 13a3 3 0 0 1 3-3h4a3 3 0 0 1 3 3v3a1 1 0 0 1-1 1h-8a1 1 0 0 1-1-1 1 1 0 0 1-1 1H3a1 1 0 0 1-1-1v-3a3 3 0 0 1 3-3h4a3 3 0 0 1 3 3zM7 9a3 3 0 1 1 0-6 3 3 0 0 1 0 6zm10 0a3 3 0 1 1 0-6 3 3 0 0 1 0 6z" />
            <path class="secondary" d="M12 13a3 3 0 1 1 0-6 3 3 0 0 1 0 6zm-3 1h6a3 3 0 0 1 3 3v3a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1v-3a3 3 0 0 1 3-3z" /></svg>
          <span class="info-unit">94</span>Hackers
        </span>
        <span class="past-event-projects">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-survey">
            <path class="primary" d="M5 5h14a2 2 0 0 1 2 2v13a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V7c0-1.1.9-2 2-2zm3 7a1 1 0 0 0 0 2h8a1 1 0 0 0 0-2H8zm0 4a1 1 0 0 0 0 2h4a1 1 0 0 0 0-2H8z" />
            <path class="secondary" d="M15 4a2 2 0 0 1 2 2v1a1 1 0 0 1-1 1H8a1 1 0 0 1-1-1V6c0-1.1.9-2 2-2 0-1.1.9-2 2-2h2a2 2 0 0 1 2 2z" /></svg>
          <span class="info-unit">14</span>Projects
        </span>
      </div>
      <div class="past-event-link-container">
        <!-- <a class="past-event-link" href="#">View</a> -->
      </div>
    </div>
    <div class="past-event-container">
      <div class="past-event-logo-container">
        <img src="../../assets/img/events/weekend-hackathons/02-ii-fall-2013-ii/hu-logo-fall-2013.png" alt="Hack Upstate II" />
        <div class="image-overlay"></div>
      </div>
      <span class="past-event-dates">Oct. 12-13, 2013</span>
      <h2 class="past-event-name">Hack Upstate II</h2>
      <div class="past-event-info-container">
        <span class="past-event-participants">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-user-group">
            <path class="primary" d="M12 13a3 3 0 0 1 3-3h4a3 3 0 0 1 3 3v3a1 1 0 0 1-1 1h-8a1 1 0 0 1-1-1 1 1 0 0 1-1 1H3a1 1 0 0 1-1-1v-3a3 3 0 0 1 3-3h4a3 3 0 0 1 3 3zM7 9a3 3 0 1 1 0-6 3 3 0 0 1 0 6zm10 0a3 3 0 1 1 0-6 3 3 0 0 1 0 6z" />
            <path class="secondary" d="M12 13a3 3 0 1 1 0-6 3 3 0 0 1 0 6zm-3 1h6a3 3 0 0 1 3 3v3a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1v-3a3 3 0 0 1 3-3z" /></svg>
          <span class="info-unit">126</span>Hackers
        </span>
        <span class="past-event-projects">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-survey">
            <path class="primary" d="M5 5h14a2 2 0 0 1 2 2v13a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V7c0-1.1.9-2 2-2zm3 7a1 1 0 0 0 0 2h8a1 1 0 0 0 0-2H8zm0 4a1 1 0 0 0 0 2h4a1 1 0 0 0 0-2H8z" />
            <path class="secondary" d="M15 4a2 2 0 0 1 2 2v1a1 1 0 0 1-1 1H8a1 1 0 0 1-1-1V6c0-1.1.9-2 2-2 0-1.1.9-2 2-2h2a2 2 0 0 1 2 2z" /></svg>
          <span class="info-unit">13</span>Projects
        </span>
      </div>
      <div class="past-event-link-container">
        <!-- <a class="past-event-link" href="#">View</a> -->
      </div>
    </div>
    <div class="past-event-container">
      <div class="past-event-logo-container">
        <img src="../../assets/img/events/weekend-hackathons/01-spring-2013-i/logo.jpeg" alt="Hack Upstate I" />
        <div class="image-overlay"></div>
      </div>
      <span class="past-event-dates">Apr. 6-7, 2013</span>
      <h2 class="past-event-name">Hack Upstate I</h2>
      <div class="past-event-info-container">
        <span class="past-event-participants">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-user-group">
            <path class="primary" d="M12 13a3 3 0 0 1 3-3h4a3 3 0 0 1 3 3v3a1 1 0 0 1-1 1h-8a1 1 0 0 1-1-1 1 1 0 0 1-1 1H3a1 1 0 0 1-1-1v-3a3 3 0 0 1 3-3h4a3 3 0 0 1 3 3zM7 9a3 3 0 1 1 0-6 3 3 0 0 1 0 6zm10 0a3 3 0 1 1 0-6 3 3 0 0 1 0 6z" />
            <path class="secondary" d="M12 13a3 3 0 1 1 0-6 3 3 0 0 1 0 6zm-3 1h6a3 3 0 0 1 3 3v3a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1v-3a3 3 0 0 1 3-3z" /></svg>
          <span class="info-unit">107</span>Hackers
        </span>
        <span class="past-event-projects">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-survey">
          <path class="primary" d="M5 5h14a2 2 0 0 1 2 2v13a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V7c0-1.1.9-2 2-2zm3 7a1 1 0 0 0 0 2h8a1 1 0 0 0 0-2H8zm0 4a1 1 0 0 0 0 2h4a1 1 0 0 0 0-2H8z" />
          <path class="secondary" d="M15 4a2 2 0 0 1 2 2v1a1 1 0 0 1-1 1H8a1 1 0 0 1-1-1V6c0-1.1.9-2 2-2 0-1.1.9-2 2-2h2a2 2 0 0 1 2 2z" /></svg>
          <span class="info-unit">8</span>Projects
        </span>
      </div>
      <div class="past-event-link-container">
        <!-- <a class="past-event-link" href="#">View</a> -->
      </div>
    </div>
  </div>
</section>
<section class="sub-section">
  <h1>Affiliate Events</h1>
  <div class="affiliate-events-container">
    <div class="affiliate-event-container">
      <div class="affiliate-event-logo-container">
        <img src="../../assets/img/careersincode.jpg" alt="Careers In Code" />
        <div class="image-overlay"></div>
      </div>
      <span class="affiliate-event-dates">Oct. 6-7, 2018</span>
      <h2 class="affiliate-event-name">Careers In Code</h2>
      <div class="affiliate-event-info-container">
        <span class="affiliate-event-participants">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-user-group">
            <path class="primary" d="M12 13a3 3 0 0 1 3-3h4a3 3 0 0 1 3 3v3a1 1 0 0 1-1 1h-8a1 1 0 0 1-1-1 1 1 0 0 1-1 1H3a1 1 0 0 1-1-1v-3a3 3 0 0 1 3-3h4a3 3 0 0 1 3 3zM7 9a3 3 0 1 1 0-6 3 3 0 0 1 0 6zm10 0a3 3 0 1 1 0-6 3 3 0 0 1 0 6z" />
            <path class="secondary" d="M12 13a3 3 0 1 1 0-6 3 3 0 0 1 0 6zm-3 1h6a3 3 0 0 1 3 3v3a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1v-3a3 3 0 0 1 3-3z" /></svg>
          <span class="info-unit">N/A</span>Hackers
        </span>
        <span class="affiliate-event-projects">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-survey">
            <path class="primary" d="M5 5h14a2 2 0 0 1 2 2v13a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V7c0-1.1.9-2 2-2zm3 7a1 1 0 0 0 0 2h8a1 1 0 0 0 0-2H8zm0 4a1 1 0 0 0 0 2h4a1 1 0 0 0 0-2H8z" />
            <path class="secondary" d="M15 4a2 2 0 0 1 2 2v1a1 1 0 0 1-1 1H8a1 1 0 0 1-1-1V6c0-1.1.9-2 2-2 0-1.1.9-2 2-2h2a2 2 0 0 1 2 2z" /></svg>
          <span class="info-unit">N/A</span>Projects
        </span>
      </div>
      <div class="affiliate-event-link-container">
        <a class="affiliate-event-link" href="#">Learn More</a>
      </div>
    </div>
    <div class="affiliate-event-container">
      <div class="affiliate-event-logo-container">
        <img src="../../assets/img/hack-mowhawk.jpg" alt="Hack Mowhawk Valley" />
        <div class="image-overlay"></div>
      </div>
      <span class="affiliate-event-dates">Nov. 3-4, 2018</span>
      <h2 class="affiliate-event-name">Hack Mowhawk Valley</h2>
      <div class="affiliate-event-info-container">
        <span class="affiliate-event-participants">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-user-group">
            <path class="primary" d="M12 13a3 3 0 0 1 3-3h4a3 3 0 0 1 3 3v3a1 1 0 0 1-1 1h-8a1 1 0 0 1-1-1 1 1 0 0 1-1 1H3a1 1 0 0 1-1-1v-3a3 3 0 0 1 3-3h4a3 3 0 0 1 3 3zM7 9a3 3 0 1 1 0-6 3 3 0 0 1 0 6zm10 0a3 3 0 1 1 0-6 3 3 0 0 1 0 6z" />
            <path class="secondary" d="M12 13a3 3 0 1 1 0-6 3 3 0 0 1 0 6zm-3 1h6a3 3 0 0 1 3 3v3a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1v-3a3 3 0 0 1 3-3z" /></svg>
          <span class="info-unit">80</span>Hackers
        </span>
        <span class="affiliate-event-projects">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-survey">
            <path class="primary" d="M5 5h14a2 2 0 0 1 2 2v13a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V7c0-1.1.9-2 2-2zm3 7a1 1 0 0 0 0 2h8a1 1 0 0 0 0-2H8zm0 4a1 1 0 0 0 0 2h4a1 1 0 0 0 0-2H8z" />
            <path class="secondary" d="M15 4a2 2 0 0 1 2 2v1a1 1 0 0 1-1 1H8a1 1 0 0 1-1-1V6c0-1.1.9-2 2-2 0-1.1.9-2 2-2h2a2 2 0 0 1 2 2z" /></svg>
          <span class="info-unit">N/A</span>Projects
        </span>
      </div>
      <div class="affiliate-event-link-container">
        <a class="affiliate-event-link" href="#">Learn More</a>
      </div>
    </div>
    <div class="affiliate-event-container">
      <div class="affiliate-event-logo-container">
        <img src="../../assets/img/techvalleyatt.jpg" alt="AT&T Tech Valley Civic App Challenge" />
        <div class="image-overlay"></div>
      </div>
      <span class="affiliate-event-dates">Mar. 4 - May 1, 2015</span>
      <h2 class="affiliate-event-name">AT&T Tech Valley Civic App Challenge</h2>
      <div class="affiliate-event-info-container">
        <span class="affiliate-event-participants">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-user-group">
            <path class="primary" d="M12 13a3 3 0 0 1 3-3h4a3 3 0 0 1 3 3v3a1 1 0 0 1-1 1h-8a1 1 0 0 1-1-1 1 1 0 0 1-1 1H3a1 1 0 0 1-1-1v-3a3 3 0 0 1 3-3h4a3 3 0 0 1 3 3zM7 9a3 3 0 1 1 0-6 3 3 0 0 1 0 6zm10 0a3 3 0 1 1 0-6 3 3 0 0 1 0 6z" />
            <path class="secondary" d="M12 13a3 3 0 1 1 0-6 3 3 0 0 1 0 6zm-3 1h6a3 3 0 0 1 3 3v3a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1v-3a3 3 0 0 1 3-3z" /></svg>
          <span class="info-unit">96</span>Hackers
        </span>
        <span class="affiliate-event-projects">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-survey">
            <path class="primary" d="M5 5h14a2 2 0 0 1 2 2v13a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V7c0-1.1.9-2 2-2zm3 7a1 1 0 0 0 0 2h8a1 1 0 0 0 0-2H8zm0 4a1 1 0 0 0 0 2h4a1 1 0 0 0 0-2H8z" />
            <path class="secondary" d="M15 4a2 2 0 0 1 2 2v1a1 1 0 0 1-1 1H8a1 1 0 0 1-1-1V6c0-1.1.9-2 2-2 0-1.1.9-2 2-2h2a2 2 0 0 1 2 2z" /></svg>
          <span class="info-unit">19</span>Projects
        </span>
      </div>
      <div class="affiliate-event-link-container">
        <a class="affiliate-event-link" href="#">Learn More</a>
      </div>
    </div>
    <div class="affiliate-event-container">
      <div class="affiliate-event-logo-container">
        <img src="../../assets/img/attwny.jpg" alt="AT&T Western New York Civic App Challenge" />
        <div class="image-overlay"></div>
      </div>
      <span class="affiliate-event-dates">Sept. 11 - Nov. 7, 2014</span>
      <h2 class="affiliate-event-name">AT&T Western New York Civic App Challenge</h2>
      <div class="affiliate-event-info-container">
        <span class="affiliate-event-participants">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-user-group">
            <path class="primary" d="M12 13a3 3 0 0 1 3-3h4a3 3 0 0 1 3 3v3a1 1 0 0 1-1 1h-8a1 1 0 0 1-1-1 1 1 0 0 1-1 1H3a1 1 0 0 1-1-1v-3a3 3 0 0 1 3-3h4a3 3 0 0 1 3 3zM7 9a3 3 0 1 1 0-6 3 3 0 0 1 0 6zm10 0a3 3 0 1 1 0-6 3 3 0 0 1 0 6z" />
            <path class="secondary" d="M12 13a3 3 0 1 1 0-6 3 3 0 0 1 0 6zm-3 1h6a3 3 0 0 1 3 3v3a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1v-3a3 3 0 0 1 3-3z" /></svg>
          <span class="info-unit">129</span>Hackers
        </span>
        <span class="affiliate-event-projects">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-survey">
            <path class="primary" d="M5 5h14a2 2 0 0 1 2 2v13a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V7c0-1.1.9-2 2-2zm3 7a1 1 0 0 0 0 2h8a1 1 0 0 0 0-2H8zm0 4a1 1 0 0 0 0 2h4a1 1 0 0 0 0-2H8z" />
            <path class="secondary" d="M15 4a2 2 0 0 1 2 2v1a1 1 0 0 1-1 1H8a1 1 0 0 1-1-1V6c0-1.1.9-2 2-2 0-1.1.9-2 2-2h2a2 2 0 0 1 2 2z" /></svg>
          <span class="info-unit">33</span>Projects
        </span>
      </div>
      <div class="affiliate-event-link-container">
        <a class="affiliate-event-link" href="#">Learn More</a>
      </div>
    </div>
    <div class="affiliate-event-container">
      <div class="affiliate-event-logo-container">
        <img src="../../assets/img/attroc.jpg" alt="AT&T Rochester Civic App Challenge" />
        <div class="image-overlay"></div>
      </div>
      <span class="affiliate-event-dates">Feb. 20 - Apr. 23, 2013</span>
      <h2 class="affiliate-event-name">AT&T Rochester Civic App Challenge</h2>
      <div class="affiliate-event-info-container">
        <span class="affiliate-event-participants">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-user-group">
            <path class="primary" d="M12 13a3 3 0 0 1 3-3h4a3 3 0 0 1 3 3v3a1 1 0 0 1-1 1h-8a1 1 0 0 1-1-1 1 1 0 0 1-1 1H3a1 1 0 0 1-1-1v-3a3 3 0 0 1 3-3h4a3 3 0 0 1 3 3zM7 9a3 3 0 1 1 0-6 3 3 0 0 1 0 6zm10 0a3 3 0 1 1 0-6 3 3 0 0 1 0 6z" />
            <path class="secondary" d="M12 13a3 3 0 1 1 0-6 3 3 0 0 1 0 6zm-3 1h6a3 3 0 0 1 3 3v3a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1v-3a3 3 0 0 1 3-3z" /></svg>
          <span class="info-unit">71</span>Hackers
        </span>
        <span class="affiliate-event-projects">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-survey">
            <path class="primary" d="M5 5h14a2 2 0 0 1 2 2v13a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V7c0-1.1.9-2 2-2zm3 7a1 1 0 0 0 0 2h8a1 1 0 0 0 0-2H8zm0 4a1 1 0 0 0 0 2h4a1 1 0 0 0 0-2H8z" />
            <path class="secondary" d="M15 4a2 2 0 0 1 2 2v1a1 1 0 0 1-1 1H8a1 1 0 0 1-1-1V6c0-1.1.9-2 2-2 0-1.1.9-2 2-2h2a2 2 0 0 1 2 2z" /></svg>
          <span class="info-unit">21</span>Projects
        </span>
      </div>
      <div class="affiliate-event-link-container">
        <a class="affiliate-event-link" href="#">Learn More</a>
      </div>
    </div>
    <div class="affiliate-event-container">
      <div class="affiliate-event-logo-container">
        <img src="../../assets/img/attcny.jpg" alt="AT&T CNY Civic App Challenge" />
        <div class="image-overlay"></div>
      </div>
      <span class="affiliate-event-dates">Sept. 11 - Nov. 11, 2014</span>
      <h2 class="affiliate-event-name">AT&T CNY Civic App Challenge</h2>
      <div class="affiliate-event-info-container">
        <span class="affiliate-event-participants">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-user-group">
            <path class="primary" d="M12 13a3 3 0 0 1 3-3h4a3 3 0 0 1 3 3v3a1 1 0 0 1-1 1h-8a1 1 0 0 1-1-1 1 1 0 0 1-1 1H3a1 1 0 0 1-1-1v-3a3 3 0 0 1 3-3h4a3 3 0 0 1 3 3zM7 9a3 3 0 1 1 0-6 3 3 0 0 1 0 6zm10 0a3 3 0 1 1 0-6 3 3 0 0 1 0 6z" />
            <path class="secondary" d="M12 13a3 3 0 1 1 0-6 3 3 0 0 1 0 6zm-3 1h6a3 3 0 0 1 3 3v3a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1v-3a3 3 0 0 1 3-3z" /></svg>
          <span class="info-unit">53</span>Hackers
        </span>
        <span class="affiliate-event-projects">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-survey">
            <path class="primary" d="M5 5h14a2 2 0 0 1 2 2v13a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V7c0-1.1.9-2 2-2zm3 7a1 1 0 0 0 0 2h8a1 1 0 0 0 0-2H8zm0 4a1 1 0 0 0 0 2h4a1 1 0 0 0 0-2H8z" />
            <path class="secondary" d="M15 4a2 2 0 0 1 2 2v1a1 1 0 0 1-1 1H8a1 1 0 0 1-1-1V6c0-1.1.9-2 2-2 0-1.1.9-2 2-2h2a2 2 0 0 1 2 2z" /></svg>
          <span class="info-unit">13</span>Projects
        </span>
      </div>
      <div class="affiliate-event-link-container">
        <a class="affiliate-event-link" href="#">Learn More</a>
      </div>
    </div>
  </div>
</section>