@import url("../../styles.less");

.upcoming-events-container{display: flex; flex-direction: row; justify-content: space-between; align-items: flex-start; width: 100%; height: 100%; padding: 60px 0;
    .calendar-day-container{display: flex; flex-direction: column; justify-content: flex-start; align-items: flex-start; flex: 1; height: 100%; min-height: 300px; position: relative; 
        h3{.inter(700); font-size: 21px; position: relative;
            &:after{content: ''; width: calc(100vw - 86px); height: 1px; border-radius: 25px; background: linear-gradient(to right, #126a60, #000); position: absolute; bottom: -10px; left: 0;}
        }
        h4{.inter(900); font-size: 88px; transform: rotate(-90deg); text-transform: uppercase; color: transparent; -webkit-text-stroke: 1px @teal; position: absolute; left: -90px; bottom: 40px;}
    }
    .calendar-container{display: flex; flex-direction: column; justify-content: flex-start; align-items: center; flex: 3; flex-shrink: 0; width: 100%; min-height: 300px; margin-top: 40px; position: relative;
        .single-calendar-date-container{display: flex; flex-direction: row; justify-content: flex-start; align-items: center; flex: 1; flex-shrink: 0; width: calc(100% - 0px); min-height: 60px; border-bottom: 1px solid #1b1b24;
            .calendar-event-container{display: flex; flex-direction: row; justify-content: flex-start; align-items: center; width: 100%; height: 100%; padding: 10px; background: transparent;
                .calendar-event-info-container{display: flex; flex-direction: column; justify-content: center; align-items: flex-start; height: 100%;
                    span.calendar-event-title{.inter(700); font-size: 18px; line-height: 1; color: @white-green;}
                    p.calendar-event-description{.inter(500); color: darken(@white-blue, 5%); font-size: 12.5px; line-height: 1.5; padding-top: 3px;}
                }
                .event-time{display: flex; flex-direction: row; justify-content: flex-start; align-items: flex-end; .inter(400); font-size: 14.5px; color: white; background: @darkest-grey; padding: 6px 12px; border-radius: 24px; margin: 0 0px 0 auto;
                    svg{width: 23px; height: 23px; padding-right: 8px;
                        .primary{fill: darken(@white-blue, 10%); opacity: .75;}
                        .secondary{fill: @darkest-grey;}
                    }
                    span.time{padding-bottom: 3px;}
                }
            }
        }
    }
    .overall-calendar-container{display: flex; flex-direction: column; justify-content: flex-start; align-items: flex-start; width: 100%; min-height: 150px; max-height: 350px; height: auto; background: rgba(2, 2, 21, 1); overflow-y: auto; padding: 5px; border-radius: 8px;
        .single-calendar-date-container{display: flex; flex-direction: row; width: 100%; margin: 0 0 20px 0; 
            .single-calendar-date{display: flex; flex-direction: column; justify-content: flex-start; align-items: center; min-width: 75px; .inter(900); position: sticky; top: 10px; left: 0;
                .calendar-day{font-size: 24px;}
                .calendar-month-short{font-size: 16px; text-transform: uppercase;}
            }
            .calendar-event-container{display: flex; flex-direction: row; width: 100%; min-height: 60px; padding: 10px; background: @teal; border-radius: 6px;
                .calendar-event-icon{width: 45px; height: 45px; margin-right: 12px;
                    img{width: 100%; height: auto; filter: grayscale(100%) brightness(-200%);}
                }
                .calendar-event-info-container{display: flex; flex-direction: column; width: 100%; color: @darkest-grey; .inter(600);
                    span.calendar-event-title{.inter(900); padding-bottom: 5px;}
                    p.calendar-event-description{.inter(500);}
                }
                .calendar-event-time{display: flex; flex-direction: row; justify-content: flex-start; align-items: center;
                    svg{width: 14px; height: 14px; border: 2px solid @dark-grey-blue; border-radius: 100%; opacity: .85; margin-right: 8px; flex-shrink: 0; flex-grow: 1;
                        .primary{fill: transparent;}
                        .secondary{fill: @darkest-grey;}
                    }
                    span.time{font-size: 12px;}
                }
                a.event-sign-up-button{text-decoration: none; display: flex; flex-direction: row; justify-content: center; align-items: center; white-space: nowrap; background: @darkest-grey; color: @teal; .inter(700); padding: 5px 20px; border-radius: 28px;}
            }
        }
    }
}

.past-events-container, .affiliate-events-container{display: flex; flex-direction: row; justify-content: space-around; align-items: flex-start; width: 100%; height: 100%; flex: 1; flex-wrap: wrap; padding: 60px 0;
    .past-event-container, .affiliate-event-container{display: flex; flex-direction: column; justify-content: space-between; align-items: flex-start; background: @white-blue; color: @darkest-grey; width: calc(33.33% - 25px); min-width: 300px; max-width: 450px; flex-basis: calc(33.33% - 25px); border-radius: 9px; margin: 0 25px 25px 0; box-shadow: 0 15px 35px 0 rgba(3,3,10,.22),0 5px 15px rgba(0,0,0,.56) !important; overflow: hidden;
        .past-event-logo-container, .affiliate-event-logo-container{width: 100%; height: 0; padding-bottom: 56.25%; overflow: hidden; position: relative;
            img{width: 100%; height: auto; min-height: 100%; position: absolute; top: 50%; left: 50%; transform: translateY(-50%); left: 0; filter: saturate(0%) brightness(.5); z-index: 100;}
            .image-overlay{width: 100%; height: 100%; position: absolute; top: 0; left: 0; z-index: 101; background: @teal; opacity: .5; mix-blend-mode: multiply; }
        }
        span.past-event-dates, span.affiliate-event-dates{.inter(900); font-size: 12px; text-transform: uppercase; color: lighten(@darker-grey, 20%); padding: 25px 25px 8px 25px;}
        h2.past-event-name, h2.affiliate-event-name{.inter(700); font-size: 21px; line-height: 1.3; color: @darkest-grey; padding: 0 25px 25px 25px;}
        .past-event-info-container, .affiliate-event-info-container{display: flex; flex-direction: row; justify-content: center; align-items: center; width: 100%; height: 60px; flex: 1; padding: 25px; border-top: 2px solid darken(@white-blue, 5%);
            span.past-event-participants, span.affiliate-event-participants{display: flex; flex-direction: row; justify-content: center; align-items: center; width: 100%; height: 100%; flex: 1; .inter(500); font-size: 15px; color: @darker-grey;
                svg{width: 34px; height: 34px; padding-right: 8px; opacity: .6;
                    .primary{fill: lighten(@dark-grey-blue, 35%);}
                    .secondary{fill: lighten(@darkest-grey, 10%);}
                }
                .info-unit{.inter(900); font-size: 16px; color: @darkest-grey; padding-right: 5px;}
            }
            span.past-event-projects, span.affiliate-event-projects{display: flex; flex-direction: row; justify-content: center; align-items: center; width: 100%; height: 100%; flex: 1; .inter(500); font-size: 15px; color: @darker-grey;
                svg{width: 34px; height: 34px; padding-right: 8px; opacity: .6;
                    .primary{fill: lighten(@dark-grey-blue, 35%);}
                    .secondary{fill: lighten(@darkest-grey, 10%);}
                }
                .info-unit{.inter(900); font-size: 16px; color: @darkest-grey; padding-right: 5px;}
            }
        }
        .past-event-link-container, .affiliate-event-link-container{display: flex; flex-direction: row; justify-content: center; align-items: center; width: 100%; height: 75px; background: darken(@white-blue, 5%);
            a.past-event-link, a.affiliate-event-link{display: flex; justify-content: center; align-items: center; .inter(900); font-size: 16px; color: @teal; background: @darkest-grey; padding: 8px 24px; border-radius: 24px;}
        }
        &:nth-of-type(3n+0){margin-right: 0;}
    }
    .affiliate-event-container{background: @darker-grey;
        .affiliate-event-logo-container{
            .image-overlay{background: @blue;}
        }
        span.affiliate-event-dates{color: lighten(@darker-grey, 25%);}
        h2.affiliate-event-name{color: @white-blue;}
        .affiliate-event-info-container{border-top: 2px solid darken(@darker-grey, 3%);
            span.affiliate-event-participants{color: @white-blue;
                svg{opacity: .6;
                    .primary{fill: lighten(@darker-grey, 35%);}
                    .secondary{fill: lighten(@darker-grey, 15%);}
                }
                .info-unit{color: @white-blue;}
            }
            span.affiliate-event-projects{color: @white-blue;
                svg{opacity: .6;
                    .primary{fill: lighten(@darker-grey, 35%);}
                    .secondary{fill: lighten(@darker-grey, 15%);}
                }
                .info-unit{color: @white-blue;}
            }
        }
        .affiliate-event-link-container{background: darken(@darker-grey, 3%);
            a.affiliate-event-link{background: @teal; color: @darkest-grey;}
        }
    }
}

@media screen and (max-width: 1150px){
    .past-events-container, .affilite-events-container{
        .past-event-container, .affiliate-event-container{width: calc(50% - 25px); flex-basis: calc(50% - 25px);
            &:nth-of-type(2n+0){margin-right: 0;}
        }
    }
}
@media screen and (max-width: 960px){
    .upcoming-events-container{flex-direction: column;
        .calendar-day-container{min-height: 20px;
            h4{display: none;}
        }
    }
}

@media screen and (max-width: 796px){
    .past-events-container, .affiliate-events-container{justify-content: center;
        .past-event-container, .affiliate-event-container{width: 100%; flex-basis: 100%; margin-right: 0;}
    }
}


@media screen and (max-width: 620px){
    .upcoming-events-container{
        .calendar-container{padding: 30px 0px 30px 0;
            
        }
    }
    a.event-sign-up-button{display: none !important;}
}

@media screen and (max-width: 425px){
    .upcoming-events-container{
        .calendar-container{
            .single-calendar-date-container{
                .single-calendar-date{width: 40px; margin-right: 10px;
                    span.calendar-day{font-size: 18px;}
                    span.calendar-month-short{font-size: 10px;}
                }
                .calendar-event-container{
                    .calendar-event-icon{width: 40px;}
                }
            }
        }
    }
    span.calendar-event-title{font-size: 15px !important;}
    span.calendar-event-time{font-size: 10px !important;
        svg{width: 20px !important; height: 15px !important;}
        .time{padding-bottom: 1px !important;}
    }
}