@import url("../../styles.less");

.upcoming-events-container{display: flex; flex-direction: column; justify-content: center; align-items: center; width: 100%; height: 100%; padding: 60px 0;
    .calendar-container{display: flex; flex-direction: column; justify-content: flex-start; align-items: center; width: 100%; min-height: 300px; background: rgba(10, 10, 21, .8); border-radius: 9px;}
}