<header id="header-container">
  <div class="event-page-wrapper">
    <div style="background-color: rgb(236, 0, 0);" class="event-sponsor-banner"><a href="/emergency"><b>Learn About How Hack Upstate is Responding to COVID-19</b> <span>--></span></a></div>
  </div>
  <a style= "position: absolute;" routerLink="/home">
    <div class="hu-logo"></div>
  </a>
  <nav [ngClass]="expanded ? 'active' : 'closed'">
    <ul>
      <li><a routerLink="/home" routerLinkActive="active-link" (click)="toggleNav()">Home</a></li>
      <li><a routerLink="/about" routerLinkActive="active-link" (click)="toggleNav()">About</a></li>
      <li><a routerLink="/events" routerLinkActive="active-link" (click)="toggleNav()">Events</a></li>
      <li><a routerLink="/sponsors" routerLinkActive="active-link" (click)="toggleNav()">Sponsors</a></li>
      <li><a href="https://join.slack.com/t/hack-upstate/shared_invite/enQtNzI3NDQ2NjA5MjE5LThkOWEzZGY1YzgzZjRmNzg4OTQ2ODkxZmIyOTI2NWM0ZDRjYWNkYzU4YzgzMjQ5ZTc3MzFhOWZlZTdhYjhkZDA" target="_blank" (click)="toggleNav()">Slack</a></li>
      <li><a href="https://medium.com/@hackupstate" target="_blank" (click)="toggleNav()">Blog</a></li>
      <li><a routerLink="/faq" routerLinkActive="active-link" (click)="toggleNav()">FAQ</a></li>
      <li><a routerLink="/jobs" routerLinkActive="active-link" (click)="toggleNav()">Jobs</a></li>
      <li><a routerLink="/contact" routerLinkActive="active-link" (click)="toggleNav()">Contact</a></li> 
      <span class="nav-divider"> // </span>
      <li><a routerLink="/events/xv" routerLinkActive="active-link" (click)="toggleNav()">Sign Up</a></li>
    </ul>
  </nav>
  <div class="nav-icon" (click)="toggleNav()" [ngClass]="expanded ? 'active' : 'closed'">
    <svg viewBox="0 0 800 600">
      <path d="M300,220 C300,220 520,220 540,220 C740,220 640,540 520,420 C440,340 300,200 300,200" id="top"></path>
      <path d="M300,320 L540,320" id="middle"></path>
      <path d="M300,210 C300,210 520,210 540,210 C740,210 640,530 520,410 C440,330 300,190 300,190" id="bottom" transform="translate(480, 320) scale(1, -1) translate(-480, -318) "></path>
    </svg>
  </div>
</header>
