<section class="hero-section">
  <div class="hero-text">
    <h1>Hack Upstate</h1>
    <!--<span class="hero-text-divider"></span>-->
    <div class="terminal-divider"></div>
    <h2>Advancing Upstate New York's Technology Community<span class="hero-dates">Oct. 6th and 7th <span>&nbsp; //
          &nbsp;</span> Syracuse, NY</span><a class="hero-cta" routerLink="/events">Hack Upstate XII</a></h2>
  </div>
</section>
<section class="sub-section">
  <h1>About</h1>
  <div class="about-container">

  </div>
</section>
<section class="sub-section alt-bg">
  <h1>Latest News</h1>
  <div class="latest-news-container">

  </div>
</section>
