<section class="hero-section">
  <div class="hero-text">
    <h1>Hack Upstate</h1>
    <!--<span class="hero-text-divider"></span>-->
    <div class="terminal-divider"></div>
    <h2>Advancing Upstate New York's Technology Community<span class="hero-dates">Oct. 6th and 7th <span>&nbsp; // &nbsp;</span> Syracuse, NY</span><a class="hero-cta" routerLink="/events">Hack Upstate XII</a></h2>
  </div>
</section>
<section class="sub-section">
  <h1>About</h1>
  <div class="about-container">
    
  </div>
</section>
<section class="sub-section alt-bg">
  <h1>Latest News</h1>
  <div class="latest-news-container">
    <div class="blog-post-card">
      <div class="post-image">
        <img src="https://cdn-images-1.medium.com/max/1000/1*lDD8HMpXF9KeljMTzpzgyA.jpeg" alt="Hack Upstate XII: The Results Are In" />
        <div class="post-image-overlay"></div>
      </div>
      <h2 class="post-headline">Hack Upstate XII: The Results Are In</h2>
      <span class="post-byline">Posted on 12/27/18, by Jesse P.</span>
      <p class="post-teaser">Sincerest thanks to all involved with Hack Upstate XII this past weekend. Once again it was incredible to see so many
      talented Upstate, NY technologists come together to build, break, and collaborate.</p>  
    </div>
    <div class="blog-post-card">
      <div class="post-image">
        <img src="https://cdn-images-1.medium.com/max/1000/1*A-wbg9O4W1KEXvBelYNvrw.jpeg" alt="What Kind of Job Can You Get After Careers in Code?" />
        <div class="post-image-overlay"></div>
      </div>
      <h2 class="post-headline">What Kind of Job Can You Get After Careers in Code?</h2>
      <span class="post-byline">Posted on 12/26/18, by Jesse P.</span>
      <p class="post-teaser">Coding bootcamps are becoming key to quickly securing jobs in tech. Indeed, the employment search engine, reports that
      80% of recruiters have hired from this pool of talent, and over 99% of them said they’d do it again.</p>
    </div>
    <div class="blog-post-card">
      <div class="post-image">
        <img src="https://cdn-images-1.medium.com/max/800/1*AmV7KG0zs4cXe2NsHJ6Zfw.jpeg" alt="Building a Culture of Innovation One Business At a Time" />
        <div class="post-image-overlay"></div>
      </div>
      <h2 class="post-headline">Building a Culture of Innovation One Business At a Time</h2>
      <span class="post-byline">Posted on 10/29/18, by Jesse P.</span>
      <p class="post-teaser">So, you have a great idea. You spend long nights writing on notepads, whiteboards, bar napkins. You’re sketching,
      coding, building and breaking until your fingers go numb and the pot of coffee is empty.</p>
    </div>
  </div>
</section>
<section class="sub-section">
  <h1>Testimonials</h1>
  <div class="testimonials-container">
    <div class="single-testimonial-container">
      <div class="testimonial-pic">
        <img src="../../assets/img/rachelhoat.jpeg" alt="Rachel Haot" />
        <div class="quote-symbol">
          <div class="inner-wrapper">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px"
              viewBox="0 0 100 125" enable-background="new 0 0 100 100" xml:space="preserve">
              <g>
                <path d="M43.201,21.674L31.216,11.429C16.338,22.352,5,41.808,5,62.631c0,16.719,9.379,25.94,20.077,25.94   c9.712,0,17.478-8.187,17.478-18.45c0-9.895-6.786-17.391-15.858-17.391c-1.62,0-3.879,0.679-4.219,0.679   C23.784,42.491,32.836,28.843,43.201,21.674z" />
                <path d="M78.502,52.73c-1.3,0-3.585,0.679-4.219,0.679C75.57,42.491,84.642,28.843,95,21.674L83.021,11.429   c-14.878,10.923-26.21,30.379-26.21,51.202c0,16.719,9.373,25.94,20.07,25.94c9.699,0,17.465-8.187,17.465-18.45   C94.347,60.227,87.573,52.73,78.502,52.73z" />
              </g>
            </svg>
          </div>
        </div>
      </div>
      <div class="testimonial-quote-container">
        <p class="testimonial-quote">Hack Upstate has been instrumental to Upstate New York's technology sector growth. As a Startup-NY company, it's
        exciting to see the rate at which their community is expanding, and the success they've had aligning Upstate tech
        talent with employers. We’re so proud to have them here in New York.</p>
        <span class="testimonial-credit"><span class="quote-author">Rachel Hoat</span><span class="divider">&nbsp; &nbsp; // &nbsp;</span> Former NY State CDO & Deputy Secretary for Tech.</span>
      </div>
    </div>
    <div class="single-testimonial-container">
      <div class="testimonial-pic">
        <img src="../../assets/img/patrickdanial.png" alt="Patrick Danial" />
        <div class="quote-symbol">
          <div class="inner-wrapper">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px"
              viewBox="0 0 100 125" enable-background="new 0 0 100 100" xml:space="preserve">
              <g>
                <path d="M43.201,21.674L31.216,11.429C16.338,22.352,5,41.808,5,62.631c0,16.719,9.379,25.94,20.077,25.94   c9.712,0,17.478-8.187,17.478-18.45c0-9.895-6.786-17.391-15.858-17.391c-1.62,0-3.879,0.679-4.219,0.679   C23.784,42.491,32.836,28.843,43.201,21.674z" />
                <path d="M78.502,52.73c-1.3,0-3.585,0.679-4.219,0.679C75.57,42.491,84.642,28.843,95,21.674L83.021,11.429   c-14.878,10.923-26.21,30.379-26.21,51.202c0,16.719,9.373,25.94,20.07,25.94c9.699,0,17.465-8.187,17.465-18.45   C94.347,60.227,87.573,52.73,78.502,52.73z" />
              </g>
            </svg>
          </div>
        </div>
      </div>
      <div class="testimonial-quote-container">
        <p class="testimonial-quote">From elegant to crude, the paths of invention are riddled with challenges best tackled through diversity in talent and
        thinking. Hack Upstate attracts these rare ingredients and fiendishly disrupts traditional planning through rules and
        boundaries ensuring the unexpected.</p>
        <span class="testimonial-credit"><span class="quote-author">Patrick Danial</span> <span class="divider">&nbsp; &nbsp; // &nbsp;</span> Chief Technology Officer & Co-Founder, Terakeet</span>
      </div>
    </div>
    <div class="single-testimonial-container">
      <div class="testimonial-pic">
        <img src="../../assets/img/benroberts.png" alt="Ben Roberts" />
        <div class="quote-symbol">
          <div class="inner-wrapper">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px"
              viewBox="0 0 100 125" enable-background="new 0 0 100 100" xml:space="preserve">
              <g>
                <path d="M43.201,21.674L31.216,11.429C16.338,22.352,5,41.808,5,62.631c0,16.719,9.379,25.94,20.077,25.94   c9.712,0,17.478-8.187,17.478-18.45c0-9.895-6.786-17.391-15.858-17.391c-1.62,0-3.879,0.679-4.219,0.679   C23.784,42.491,32.836,28.843,43.201,21.674z" />
                <path d="M78.502,52.73c-1.3,0-3.585,0.679-4.219,0.679C75.57,42.491,84.642,28.843,95,21.674L83.021,11.429   c-14.878,10.923-26.21,30.379-26.21,51.202c0,16.719,9.373,25.94,20.07,25.94c9.699,0,17.465-8.187,17.465-18.45   C94.347,60.227,87.573,52.73,78.502,52.73z" />
              </g>
            </svg>
          </div>
        </div>
      </div>
      <div class="testimonial-quote-container">
        <p class="testimonial-quote">We at AT&T have worked closely with Hack Upstate on five different civic related hackathons throughout the past two
        years. All have been tremendously successful, and introduced extraordinary value to Upstate New York’s STEM community,
        as well as the Upstate community at large.</p>
        <span class="testimonial-credit"><span class="quote-author">Ben Roberts</span> <span class="divider">&nbsp; &nbsp; // &nbsp;</span> Director of Public Affairs, AT&T</span>
      </div>
    </div>
    <div class="single-testimonial-container">
      <div class="testimonial-pic dave">
        <img src="../../assets/img/davebulger.png" alt="Dave Bulger" />
        <div class="quote-symbol">
          <div class="inner-wrapper">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px"
              viewBox="0 0 100 125" enable-background="new 0 0 100 100" xml:space="preserve">
              <g>
                <path d="M43.201,21.674L31.216,11.429C16.338,22.352,5,41.808,5,62.631c0,16.719,9.379,25.94,20.077,25.94   c9.712,0,17.478-8.187,17.478-18.45c0-9.895-6.786-17.391-15.858-17.391c-1.62,0-3.879,0.679-4.219,0.679   C23.784,42.491,32.836,28.843,43.201,21.674z" />
                <path d="M78.502,52.73c-1.3,0-3.585,0.679-4.219,0.679C75.57,42.491,84.642,28.843,95,21.674L83.021,11.429   c-14.878,10.923-26.21,30.379-26.21,51.202c0,16.719,9.373,25.94,20.07,25.94c9.699,0,17.465-8.187,17.465-18.45   C94.347,60.227,87.573,52.73,78.502,52.73z" />
              </g>
            </svg>
          </div>
        </div>
      </div>
      <div class="testimonial-quote-container">
        <p class="testimonial-quote">In the emerging Upstate New York tech scene, Hack Upstate is an essential asset. It’s an outstanding event for bringing
        together some of our region’s top tech talent, a tight, well-run event and an absolute blast!</p>
        <span class="testimonial-credit"><span class="quote-author">Dave Bulger</span> <span class="divider">&nbsp; &nbsp; // &nbsp;</span> Chief Executive Officer, Tuzag</span>
      </div>
    </div>
    <div class="single-testimonial-container">
      <div class="testimonial-pic">
        <img src="../../assets/img/jimjurista.png" alt="Jim Jurista" />
        <div class="quote-symbol">
          <div class="inner-wrapper">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px"
              viewBox="0 0 100 125" enable-background="new 0 0 100 100" xml:space="preserve">
              <g>
                <path d="M43.201,21.674L31.216,11.429C16.338,22.352,5,41.808,5,62.631c0,16.719,9.379,25.94,20.077,25.94   c9.712,0,17.478-8.187,17.478-18.45c0-9.895-6.786-17.391-15.858-17.391c-1.62,0-3.879,0.679-4.219,0.679   C23.784,42.491,32.836,28.843,43.201,21.674z" />
                <path d="M78.502,52.73c-1.3,0-3.585,0.679-4.219,0.679C75.57,42.491,84.642,28.843,95,21.674L83.021,11.429   c-14.878,10.923-26.21,30.379-26.21,51.202c0,16.719,9.373,25.94,20.07,25.94c9.699,0,17.465-8.187,17.465-18.45   C94.347,60.227,87.573,52.73,78.502,52.73z" />
              </g>
            </svg>
          </div>
        </div>
      </div>
      <div class="testimonial-quote-container">
        <p class="testimonial-quote">Hack Upstate energizes the developer network of our region. Hundreds of creative people come together and go from
        strangers to collaborators through friendly competition, as they develop unique solutions. Through its engagement and
        longtime commitment, Hack Upstate leads by example in upstates coding community.</p>
        <span class="testimonial-credit"><span class="quote-author">Jim Jurista</span> <span class="divider">&nbsp; &nbsp; // &nbsp;</span> Chief Technology Officer, Metis Consulting Group</span>
      </div>
    </div>
    <div class="single-testimonial-container">
      <div class="testimonial-pic">
        <img src="../../assets/img/nasirali.png" alt="Nasir Ali" />
        <div class="quote-symbol">
          <div class="inner-wrapper">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px"
              viewBox="0 0 100 125" enable-background="new 0 0 100 100" xml:space="preserve">
              <g>
                <path d="M43.201,21.674L31.216,11.429C16.338,22.352,5,41.808,5,62.631c0,16.719,9.379,25.94,20.077,25.94   c9.712,0,17.478-8.187,17.478-18.45c0-9.895-6.786-17.391-15.858-17.391c-1.62,0-3.879,0.679-4.219,0.679   C23.784,42.491,32.836,28.843,43.201,21.674z" />
                <path d="M78.502,52.73c-1.3,0-3.585,0.679-4.219,0.679C75.57,42.491,84.642,28.843,95,21.674L83.021,11.429   c-14.878,10.923-26.21,30.379-26.21,51.202c0,16.719,9.373,25.94,20.07,25.94c9.699,0,17.465-8.187,17.465-18.45   C94.347,60.227,87.573,52.73,78.502,52.73z" />
              </g>
            </svg>
          </div>
        </div>
      </div>
      <div class="testimonial-quote-container">
        <p class="testimonial-quote">Hack Upstate is building a more connected, aware, and knowledgeable developer community for our region. Shared projects
        and sleepless nights are leading to new friendships and turning ideas into real products and services.</p>
        <span class="testimonial-credit"><span class="quote-author">Nasir Ali</span> <span class="divider">&nbsp; &nbsp; // &nbsp;</span> Co-founder & CEO, Upstate Venture Connect</span>
      </div>
    </div>
  </div>
</section>