<section class="hero-section event-page">
  <div class="hero-text">
    <h1>Hack Upstate</h1>
    <!--<span class="hero-text-divider"></span>-->
    <div class="terminal-divider"></div>
    <h2>Advancing Upstate New York's Technology Community<span class="hero-dates">Apr. 6th and 7th, 2019<span>&nbsp; // &nbsp;</span>
        Syracuse, NY</span></h2>
  </div>
  <div class="event-page-ctas-container">
    <a class="event-page-cta" href="#">Results</a>
    <a class="event-page-cta" href="#">Projects</a>
    <a class="event-page-cta" href="#">Demos</a>
    <a class="event-page-cta" href="#">Gallery</a>
  </div>
  <div class="event-logo-container">
    <img src="../../../../assets/img/events/weekend-hackathons/13-spring-2018-xiii/HU_BLACK_TRANSPARENT.png" alt="Hack Upstate XIII" />
  </div>
</section>
<section class="sub-section">
  <h1>What To Expect</h1>
</section>